<h1><%= @dish.name %></h1>
<p>Description: <%= @dish.description%></p>

<h2>Ingredients</h2>

<% @dish.ingredients.each do |ingredient| %>
  <div class ="ingredient-<%= ingredient.id %>">
    <p>Ingredient name: <%= ingredient.name %></p>
    <p>Calories: <%= ingredient.calories %></p>
    <%= button_to "Delete Ingredient", "dishes/#{@dish.id}/ingredients/#{ingredient.id}", method: :ddelete, data: { confirm: "Are you sure you want to delete this ingredient?" }, class: "delete-button"%>
  </div>
<% end %>

<p> Total Calories: <%= @dish.total_calories %></p>

<%= form_with url: "/dishes/#{@dish.id}/ingredients", method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :ingredient_id %>
  <%= form.text_field :ingredient_id %>
  <%= form.submit "Add Ingredient" %>
<% end %>